//- Include header
include include/_header

//- Main Site
main#site-main
  .container
    .box-nav.d-flex.justify-between
      .filter
        a(href="/")
          i.fas.fa-angle-double-left
          | View All Users

    .form-title.text-center
      h2.text-dark New User
      span.text-light Use the form below to add a new user

          include include/_form

//- Include footer
include include/_footer