//- Include header
include include/_header

//- Main Site
main#site-main
  .container
    .box-nav.d-flex.justify-between
      a.border-shadow(href="/add-user")
        span.text-gradient New User 
        i.fa-solid.fa-user

    //- Form Handling
    form(action="/" method="POST")
      table.table
        thead.thead-dark
          tr
            th ID
            th Lastname
            th Firstname
            th Date of Birth
            th Address 1
            th Address 2
            th City
            th Postal code
            th Country
            th Phone number
            th Email
            th User notes
            th Action
        tbody
          include include/_show

//- Include footer
include include/_footer
