//- Include header
include include/_header
     <!-- Main Site -->
      <main id="site-main">
        <div class="container">
            <div href="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">New User <i class="fa-solid fa-user"></i></span>
                </a>
            </div>

            <!-- form handling-->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Lastname</th>
                            <th>Firstname</th>
                            <th>Date of Birth</th>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>City</th>
                            <th>Postal code</th>
                            <th>Country</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>User notes</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </div>
      </main>
    <!-- /Main Site -->

//- Include footer
include include/footer
