//- Include header
include include/_header

//- Main Site
main#site-main
  .container
    .box-nav.d-flex.justify-between
      .filter
        a(href="/")
          i.fas.fa-angle-double-left
          | View All Users

    .form-title.text-center
      h2.text-dark Update User
      span.text-light Use the below form to update the user

          include include/_updateForm

//- Include footer
include include/_footer