<tr>
    <td>1</td>
    <td>Chaudhary</td>
    <td>Romika</td>
    <td>April 4</td>
    <td>Lakeshore Rd</td>
    <td>Ghorahi</td>
    <td>Sarnia</td>
    <td>N7V 2T1</td>
    <td>Canada</td>
    <td>437 662 9465</td>
    <td>romikachaudhari09@gmail.com</td>
    <td>Hello World!</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i></span>
        </a>
        //- <a href="#" class="btn border-shadow delete">
        //-     <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
        //- </a>
    </td>
</tr>